<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    
    <div base-url=""></div>
    <import value="/common-links"></import>

    <link rel="stylesheet" href="/styles/shared.auth.style.css">
    <link rel="stylesheet" href="/styles/register.style.css">
    <script src="/js/load.anim.code.js"></script>
    <script src="/js/form.utils.code.js"></script>
    <script src="/js/shared.auth.code.js"></script>
    <script src="/js/register.code.js"></script>
    <import value="/address-links"></import>


</head>
<body>

    <import value="/header"></import>

    <div class="outer-container">
        <div class="p-4 centered-container">
            <h1>Registration</h1>
            <form>
                <div class="row">
                    <!-- Left Panel -->
                    <div class="col-6">
                        <div class="form-group pb-3">
                            <label for="first-name-input">First Name:</label>
                            <input class="form-control input-fields"
                                    type="text"
                                    id="first-name-input"
                                    placeholder="Susan"
                                    maxlength={{maxNameLength}}>
                            <div id="first-name-error" class="info-errors"></div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="email-input">Email Address:</label>
                            <input class="form-control input-fields" type="text" id="email-input" placeholder="youremail@example.com">
                            <div id="email-error" class="info-errors"></div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="state-input">State:</label>
                            <div class="select-with-search">
                                <select id="state-input" data-live-search="true" class="selectpicker">
                                </select>
                            </div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="address-line1-input">Address Line 1:</label>
                            <input class="form-control input-fields"
                                    type="text"
                                    id="address-line1-input"
                                    maxlength="{{maxAddressLineLength}}">
                            <div id="address-line1-error" class="info-errors"></div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="zip-code-input">Zip Code:</label>
                            <input class="form-control input-fields"
                                    type="text"
                                    id="zip-code-input"
                                    maxlength="5">
                                <div id="zip-code-error" class="info-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="password-input">Password:</label>
                            <input class="form-control input-fields" type="password" id="password-input" maxlength="{{maxPasswordLength}}">
                            <div id="password-error" class="info-errors"></div>
                        </div>
                        <div id="show-password-check" class="form-group smaller-text">
                            <input type="checkbox" autocomplete="off" class="styled-checkbox" id="password-check">
                            <label class="form-check-label" for="password-check">Show Passwords</label>
                        </div>
                        <ul id="password-help">
                            <li><span>Minimum length 8.</span></li>
                            <li><span>Must contain at least one special character.</span></li>
                            <li><span>Must contain at least one digit.</span></li>
                        </ul>
                    </div>

                    <!-- Right Panel -->
                    <div class="col-6">
                        <div class="form-group pb-3">
                            <label for="last-name-input">Last Name:</label>
                            <input class="form-control input-fields"
                                    type="text"
                                    id="last-name-input"
                                    placeholder="Smith"
                                    maxlength="{{maxNameLength}}">
                            <div id="last-name-error" class="info-errors"></div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="phone-number-input">Phone Number:</label>
                            <input class="form-control input-fields" 
                                    type="tel"
                                    id="phone-number-input"
                                    maxlength="12">
                            <div id="phone-number-error" class="info-errors"></div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="county-input">County:</label>
                            <div class="select-with-search">
                                <select id="county-input" data-live-search="true" class="selectpicker">
                                </select>
                            </div>
                        </div>
                        <div class="form-group pb-3">
                            <label for="address-line2-input">Address Line 2:</label>
                            <input class="form-control input-fields"
                                    type="text"
                                    id="address-line2-input"
                                    placeholder="Optional"
                                    maxlength="{{maxAddressLineLength}}">
                            <div id="address-line2-error" class="info-errors"></div>
                        </div>
                        <div class="form-group pb-3" style="visibility: hidden;">
                            <label>Ignored</label>
                            <input type="text" class="form-control input-fields"/>
                        </div>
                        <div class="form-group pb-3">
                            <label for="repeat-password-input">Repeat Password:</label>
                            <input class="form-control input-fields" type="password" id="repeat-password-input" maxlength="{{maxPasswordLength}}">
                            <div id="repeat-password-error" class="info-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-btn-group">
                    <button class="bottom-btn" id="submit-btn" type="submit">Register</button>
                    <button class="bottom-btn" onclick="location.href='/'" type="button" type="cancel">Cancel</button>
                    <canvas id="load-animation" width="25" height="25" style="display: none;"></canvas>
                    <div id="submit-error" class="info-errors" style="display: inline-block;"></div>
                </div>
                <div class="smaller-text">
                    <span>Already have an account?</span>
                    <a href="/login">click here</a>
                </div>
            </form>
        </div>
    </div>

    <import value="/footer"></import>

</body>
</html>