<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <div base-url=""></div>
    <import value="/common-links"></import>
    <link rel="stylesheet" href="/styles/shared.auth.style.css">
    <link rel="stylesheet" href="/styles/profile.style.css">
    <import value="form-links"></import>
    <script src="/js/profile.code.js"></script>

</head>
<body>
    
    <import value="/header"></import>

    <div style="margin-top: 10rem; margin-bottom: 12rem;">
        <div class="container">
            <h2 id="profile-header">User Profile</h2>
            <div class="profile-container">
                <img id="profile-picture" src={{profilePicFile}} width="256" height="256" style="border-radius: 8px;" />
                <input id="file-selector" type="file" hidden="true" accept="{{acceptedMimeTypes}}" />

                <div class="container-fluid right-container">
                    <div class="editable-section tab-row-entry">
                        
                        <h4 id="name-span" style="display: inline;" class="static-field">{{firstName}} {{lastName}}</h4>

                        <input id="first-name-input"
                               autocomplete="off"
                               type="text"
                               class="form-control editable-field"
                               value="{{firstName}}"
                               maxlength="{{maxNameLength}}"
                               placeholder="First Name"/>
                        <div id="first-name-error" class="info-errors"></div>
                        <input id="last-name-input"
                               autocomplete="off"
                               type="text"
                               class="form-control editable-field mt-1"
                               value="{{lastName}}"
                               maxlength="{{maxNameLength}}"
                               placeholder="Last Name"/>
                        <div id="last-name-error" class="info-errors"></div>
                        
                        <div style="display: inline;" class="icon-group">
                            <i class="bx bx-edit-alt edit-icon"></i>
                            <i class="bx bx-save save-icon" req-save="false"></i>
                        </div>
                    </div>
                    
                    <table class="table">
                        <tbody>
                            <tr class="tab-row-entry">
                                <th scope="row">Email</th>
                                <td>
                                    <span id="email-span" class="static-field">{{email}}</span>
                                    <input id="email-input"
                                           autocomplete="off"
                                           type="text"
                                           class="form-control editable-field"
                                           value="{{email}}"
                                           curvalue="{{email}}"/>
                                    <div id="email-error" class="info-errors"></div>
                                </td>
                                <td class="icon-group edit-group">
                                    <i class="bx bx-edit-alt edit-icon"></i>
                                    <i class="bx bx-save save-icon" req-save="false"></i>
                                </td>
                            </tr>
                            <tr id="email-verified-row">
                                <th scope="row">Email verified</th>
                                <td>
                                    {{#if emailVerified}}
                                        <span class="email-verified-true">true</span>
                                    {{else}}
                                        <span class="email-verified-false">false</span>
                                    {{/if}}
                                    <span id="email-resend-verification-span">Successfully sent verification</span>
                                </td>
                                <td class="icon-group edit-group">
                                    <button id="resend-email-verify-btn"
                                        {{#if emailVerified}}
                                        style="display: none;"
                                        {{else}}
                                        style="display: inline;"
                                        {{/if}}
                                        >Resend</button>
                                    <canvas id="email-resend-load-animation" width="25" height="25" style="display: none;"></canvas>
                                </td>
                            </tr>
                            <tr class="tab-row-entry">
                                <th scope="row">Phone Number</th>
                                <td>
                                    <span id="phone-number-span" class="static-field">{{phone}}</span>
                                    <input id="phone-number-input"
                                           autocomplete="off"
                                           type="tel"
                                           class="form-control editable-field"
                                           value="{{phone}}"
                                           maxlength="12"/> 
                                    <div id="phone-number-error" class="info-errors"></div>
                                </td>
                                <td class="icon-group edit-group">
                                    <i class="bx bx-edit-alt edit-icon"></i>
                                    <i class="bx bx-save save-icon" req-save="false"></i>
                                </td>
                            </tr>
                            <tr class="tab-row-entry">
                                <th scope="row">Address</th>
                                <td>
                                    <span id="address-span" class="static-field"
                                          address-data="{{addressLine1}}:{{addressLine2}}:{{county}}:{{state}}:{{zipCode}}">
                                        {{addressLine1}} {{addressLine2}} {{county}} {{state}}, {{zipCode}}
                                    </span>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="select-section">
                                                <div class="select-with-search">
                                                    <select id="state-input" data-live-search="true" class="selectpicker">
                                                    </select>
                                                </div>
                                                <input id="address-line1-input"
                                                       autocomplete="off"
                                                       type="text"
                                                       class="form-control editable-field"
                                                       value="{{addressLine1}}"
                                                       placeholder="Address Line 1"
                                                       maxlength="{{maxAddressLength}}"/>
                                                <div id="address-line1-error" class="info-errors"></div>
                                                <input id="zip-code-input"
                                                       autocomplete="off"
                                                       type="text"
                                                       class="form-control editable-field mt-1"
                                                       value="{{zipCode}}"
                                                       placeholder="Zip code"
                                                       maxlength="5"/>
                                                <div id="zip-code-error" class="info-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="select-section">
                                                <div class="select-with-search">
                                                    <select id="county-input" data-live-search="true" class="selectpicker">
                                                    </select>
                                                </div>
                                                <input id="address-line2-input"
                                                       autocomplete="off"
                                                       type="text"
                                                       class="form-control editable-field"
                                                       value="{{addressLine2}}"
                                                       placeholder="Address Line 2"
                                                       maxlength="{{maxAddressLength}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="icon-group edit-group">
                                    <i class="bx bx-edit-alt edit-icon"></i>
                                    <i class="bx bx-save save-icon" req-save="false"></i>
                                </td>
                            </tr>
                            <tr class="tab-row-entry">
                                <th scope="row">Password</th>
                                <td>
                                    <span id="password-span" class="static-field">********************</span>
                                    <input id="old-password-input"
                                           autocomplete="off"
                                           type="password"
                                           class="form-control editable-field"
                                           placeholder="enter old password"/>
                                    <div id="old-password-error" class="info-errors"></div>
                                    <br/>
                                    <input id="new-password-input"
                                           autocomplete="off"
                                           type="password"
                                           class="form-control editable-field"
                                           placeholder="enter new password"
                                           maxlength="{{maxPasswordLength}}"/>
                                    <div id="new-password-error" class="info-errors"></div>
                                </td>
                                <td class="icon-group edit-group">
                                    <i class="bx bx-edit-alt edit-icon"></i>
                                    <i class="bx bx-save save-icon" req-save="false"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>      
            </div>
        </div>
    </div>

    <import value="/footer"></import>

</body>
</html>