<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>

    <div base-url=""></div>
    <div id="admin-id-store" admin-id="{{adminId}}"></div>
    <import value="/common-links"></import>
    <link rel="stylesheet" href="/styles/shared.auth.style.css">
    <import value="form-links"></import>
    <link rel="stylesheet" href="/styles/admin.tables.style.css">
    <link rel="stylesheet" href="/styles/user.management.style.css">
    <script src="/js/admin.tables.js"></script>
    <script src="/js/user.management.code.js"></script>

</head>
<body>
    <import value="/header"></import>

    <div class="container">
        <div id="messages-container">

            <h1 style="margin-bottom: 1rem;">User Management</h1>
            <div class="d-flex pagination-container">
                <!-- Pagination Controls -->
                <div class="pagination-controls">
                    <button id="prev-page-btn" class="btn" aria-label="Previous" disabled="true">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </button>
                    <div class="d-flex align-items-center">
                        <span>Page</span>
                        <input id="page-number-input"
                               type="text"
                               class="form-control mx-2"
                               placeholder="1"
                               value="1"
                               aria-label="Page number">
                        <span id="total-page-span">of {{totalPages}}</span>
                    </div>
                    <button id="next-page-btn" class="btn" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </button>
                </div>
                <div class="edit-icons d-flex align-items-center mx-2">
                    <i class='bx bxs-shield-plus'></i>
                    <i class='ml-1 bx bx-trash'></i>
                </div>
                <select id="search-dropdown" class="form-control">
                    <option value="" disabled>Search By</option>
                    <option value="email" selected>Email</option>
                    <option value="name">Name</option>
                    <option value="phone">Phone</option>
                    <option value="state">State</option>
                </select>
                <input id="search-input"
                       type="text"
                       class="form-control mx-2"
                       placeholder="susan@gmail.com">
            </div>

            <div id="delete-popup" class="confirm-popup-background">
                <div class="confirm-popup">
                    <img src="/images/warning-circle.png" width="150" height="150">
                    <h5>Are you sure you want to delete?</h5>
                    <div class="btn-popup-group">
                        <canvas id="load-animation" width="30" height="30" style="display: none;"></canvas>
                        <button id="popup-confirm-btn" class="btn btn-primary">Confirm</button>
                        <button id="popup-cancel-btn" class="btn">Cancel</button>
                    </div>
                </div>
            </div>

            <div id="add-role-popup" class="confirm-popup-background">
                <div class="confirm-popup">
                    <h5>Add roles</h5>

                    <div id="current-sel-roles">
                        <table class="table table-bordered ">
                            <thead>
                                <tr id="add-roles-user-names">
                                </tr>
                            </thead>
                            <tbody id="added-roles-group">
                            </tbody>
                        </table>
                        <div class="add-role-dropdown-group">
                            <select id="role-add-input" class="form-control">
                                <option value="" disabled selected>Select Role</option>
                                <option value="admin">Admin</option>
                                <option value="member">Member</option>
                            </select>
                            <button id="add-role-btn" class="btn blue-btn">Add</button>
                        </div>
                        <button id="finished-add-role-btn" class="btn blue-btn">Finished</button>
                    </div>

                </div>
            </div>

            <table id="db-table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sel</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each initialialUsers}}
                        <tr user-id="{{id}}" user-roles="{{rolesJoined}}">
                            {{#ifEquals id ../adminId}}
                                <td></td>
                            {{else}}
                                <td>
                                    <div class="form-group smaller-text better-checkbox">
                                        <input id="sel-check-{{../id}}" type="checkbox" autocomplete="off" class="styled-checkbox">
                                        <label class="form-check-label" for="sel-check-{{../id}}"></label>
                                    </div>
                                </td>
                            {{/ifEquals}}
                            <td scope="row">{{id}}</td>
                            <td class="user-name">{{firstName}} {{lastName}}</td>
                            <td>{{email}}</td>
                            <td>{{phone}}</td>
                            <td>{{addressLine1}} {{addressLine2}} {{county}} {{state}}, {{zipCode}}</td>
                            <td class="role-col-list">
                                {{#each roles}}
                                    <div class="role-col-role">
                                        <span>{{roleName}}</span>
                                    </div>
                                {{/each}}
                            </td>
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="5">No Users found.</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>    
    </div>
    
    <import value="/footer"></import>

</body>
</html>